@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    /* position: absolute; */
    width: 100%;
}
body {
    height: 100%;
    /* width: 100%; */
    margin: 0;
    /* position: absolute; */
}

#firstBlock{
    background-image: url("../images/bluetakashi.jpg");
    background-size: cover;
}

#thirdBlock{
    background-color: lightblue;
    /* background-image: url("../images/bluetakashi.jpg"); */

}
#titleText {
    font-family: Arial ;
    font-size: 200px;
    background-color: white;
    display: inline-block;
    /* margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px; */
    margin-top: 120px;
}
.aboutMe{
    font-family: Arial;
    font-weight: bold;
    font-size: 49px;
    margin: 50px;
    text-align: right;
}
#bookkeeping{
    font-size: 23px;
    text-align: right;
}

.sect {
    height: 80%;
    background-size: cover;
    background-attachment: fixed;
}
.subSection {
    /* height: 50%; */
    /* background-color: blue; */
}
.sectOne {
    background-image: url("../images/bluetakashi.jpg");    
}
.sectTwo {
    background-image: url("../images/yellowtakashi.jpg");
    background-attachment: fixed;
    padding: 50px;
}
.sectThree {
    background-image: url("../images/redtakashi.jpg");
}
.infoContainer {
    padding: 150px 0px 150px 0px;
}
.sectionTitle {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.sectionText{
    font-family: Arial;
    font-weight: bold;
    background: white;
    font-size: 100px;
}
.infoItem {
    display: flex;
    background: white;
    margin-top: 50px;
}
.info {
    flex: 1;
}
.content {
    margin: 20px;
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
}
.webImage {
    background-color: grey;
    flex: 1;
    
}
.infoPic {
    max-width: 100%;
    display:block;
}